html, body
  height: 100%
  width: 100%
  overflow: hidden

// Position the input
#bookInputContainer
  padding-top: 30px
  #bookInput
    margin-bottom: 0


// All of the table style logic
table
  margin-left: auto
  margin-right: auto

table, th, td
  border: 1px solid black
  border-collapse: collapse

th, td
  padding: 10px

th
  font-weight: bold
